/* Our CSS file. */


.container, .content {
width: 100%;
height: 100%;
}
.main_block{
margin-left: 180px;
display: inline-block;
border : 1px solid black;
background-color: gray;
padding: 10px 10px 10px 10px;
}
.top{
    display: flex;
    width: 1000px;
    height: 320px;
}
.top_right,.top_left,.bottom_right,.bottom_left{
    width :500px;
    height : 320px;
}
.bottom{
    display: flex;
    width: 1000px;
    height: 320px;
    margin-top: 20px;
}
.bottom_right{
    text-align: center;
    padding-top: 100px;
    height: 220px;
    background-color: white;
}
.top_left{
     background-color: white;
}